#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
}

.container {
  width: 180px;

  @media screen and (min-width: 768px) {
    width: 500px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    width: 800px;
    margin: 0 auto;
  }
}
