:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* base color */
  --black: #000000;
  --white: #ffffff;

  /* grey color */
  --grey-900: #1a1a1e;
  --grey-700: #3f3f46;
  --grey-600: #51525c;
  --grey-500: #70707b;
  --grey-400: #a0a0ab;
  --grey-300: #d1d1d6;
  --grey-200: #e4e4e7;
  --gray-050: #fafafa;

  /* brand color */
  --brand-300: #84caff;
  --brand-500: #2e90fa;
  --brand-500-transparent: #2e90fa3d;

  /* error color */
  --error-600: #d92d20;
  --error-500: #f04438;
  --error-400: #f97066;
  --error-300: #fda29b;
  --error-500-transparent: #f044383d;

  /* brand_color */
  --brand-main: var(--brand-500);
  --brand-light: var(--brand-300);

  /* text-color */
  --text-primary-light: var(--grey-900);
  --text-primary-dark: var(--gray-050);
  --text-placeholder: var(--grey-500);
  --text-disabled-light: var(--grey-300);
  --text-disabled-dark: var(--grey-700);
  --text-quaternary-light: var(--grey-500);
  --text-quaternary-dark: var(--grey-400);
  --text-tertiary-light: var(--grey-600);
  --text-tertiary-dark: var(--grey-400);
  --text-error-light: var(--error-600);
  --text-error-dark: var(--error-400);

  /* background-color */
  --bg-primary-light: var(--white);
  --bg-primary-dark: var(--grey-900);

  /* foreground-color */
  --fg-primary-light: var(--white);
  --fg-primary-dark: var(--grey-900);
  --fg-quinary-light: var(--grey-400);
  --fg-quinary-dark: var(--grey-500);
  --fg-disabled-light: var(--grey-300);
  --fg-disabled-dark: var(--grey-500);
  --fg-error-primary-light: var(--error-600);
  --fg-error-primary-dark: var(--error-500);

  /* border-style */
  --border-primary-light: 1px solid var(--grey-300);
  --border-primary-dark: 1px solid var(--grey-600);
  --border-secondary-light: 1px solid var(--grey-200);
  --border-secondary-dark: 1px solid var(--grey-700);
  --border-error: 1px solid var(--error-500);
  --border-brand: 1px solid var(--brand-500);

  /* shadow */
  --brand-ring: 0px 0px 0px 4px var(--brand-500-transparent);
  --error-ring: 0px 0px 0px 4px var(--error-500-transparent);
  --box-shadow-md: 0px 4px 6px -2px #10182808;
  --box-shadow-lg: 0px 12px 16px -4px #10182814;

  /* text font-size styles */
  --font-xxs: 12px;
  --font-xs: 13px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;

  /* radius*/
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;

  /* spacing*/
  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-7xl: 64px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-primary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-primary-dark);
    --text-primary: var(--text-primary-light);
    --text-quaternary: var(--text-quaternary-light);
    --text-tertiary: var(--text-tertiary-light);
    --text-disabled: var(--text-disabled-light);
    --text-error: var(--text-error-light);
    --fg-quinary: var(--fg-quinary-light);
    --fg-disabled: var(--fg-disabled-light);
    --fg-error-primary: var(--fg-error-primary-light);
    --fg-primary: var(--fg-primary-light);
    --border-primary: var(--border-primary-light);
    --border-secondary: var(--border-secondary-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-primary-dark);
    --bg-primary: var(--bg-primary-dark);
    --bg-secondary: var(--bg-primary-light);
    --text-primary: var(--text-primary-dark);
    --text-quaternary: var(--text-quaternary-dark);
    --text-tertiary: var(--text-tertiary-dark);
    --text-disabled: var(--text-disabled-dark);
    --text-error: var(--text-error-dark);
    --fg-quinary: var(--fg-quinary-dark);
    --fg-disabled: var(--fg-disabled-dark);
    --fg-error-primary: var(--fg-error-primary-dark);
    --fg-primary: var(--fg-primary-dark);
    --border-primary: var(--border-primary-dark);
    --border-secondary: var(--border-secondary-dark);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  outline: none;
  padding: 0;
}

p,
a {
  margin: 0;
  padding: 0;
}
